<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletConfigUsingXml</display-name>

  <servlet>
    <servlet-name>ServletConfigApp</servlet-name>
    <servlet-class>in.ineuron.controller.ServletConfigApp</servlet-class>
    <init-param>
    <param-name>jdbcUrl</param-name>
    <param-value>jdbc:mySql:///ineuron</param-value>
    </init-param>
    
     <init-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
    </init-param>
    
     <init-param>
    <param-name>password</param-name>
    <param-value>Gaurav45</param-value>
    </init-param>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigApp</servlet-name>
    <url-pattern>/ServletConfigApp</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DemoServletConfig</servlet-name>
    <servlet-class>in.neuron.controller.DemoServletConfig</servlet-class>
    
     <init-param>
    <param-name>Company</param-name>
    <param-value>Oracle</param-value>
    </init-param>
    
     <init-param>
    <param-name>courseName</param-name>
    <param-value>JavaFullStack</param-value>
    </init-param>
    
     <init-param>
    <param-name>Mentor</param-name>
    <param-value>NaveenReddy</param-value>
    </init-param>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServletConfig</servlet-name>
    <url-pattern>/DemoServletConfig</url-pattern>
  </servlet-mapping>
  
  
</web-app>